<div class="form-row col-12 header d-flex justify-content-center align-items-center">
  <div class="col-2 d-flex align-items-center flex-column ">
    <div class="icon">
      <img src="../../../assets/imagens/icon-psicologia.svg">
    </div>
    <p class="mt-1">Pisicolo Rafael mathias</p>
  </div>

  <!-- <div class="menu-titulo col-2">
    <label class="titulo">Home</label>
  </div> -->

  <div class="menu-titulo col-2">
    <button type="button" class="btn btn-secondary">Home</button>
  </div>

  <div class="menu-titulo col-2">
    <button type="button" class="btn btn-secondary">Serviços</button>
  </div>
  <!-- <div class="menu-titulo col-2">
    <label class="titulo">Serviços</label>
  </div> -->

  <div class="menu-titulo col-2">
    <button type="button" class="btn btn-secondary">Depoimento</button>
  </div>
  <!-- <div class="menu-titulo col-2">
    <label class="titulo">Depoimentos</label>
  </div> -->

  <div class="menu-titulo ">
    <button type="button" class="btn btn-secondary" (click)="openModal()">Agendar uma Consulta</button>
  </div>
</div>

  <!-- <app-modal-agendar-consulta></app-modal-agendar-consulta> -->

