$white: #FFFFFF !default;
$black: #000000 !default;
$gray: #131F2F !default;
$light-green: #00A3B4 !default;
$font-gray: #777 !default;
$cinza: #f0f1f3 !default;
$verdeClaro: #7AA69E !default;
$verdeBase: #2a7063 !default;
$verdeScuro: #1A463E !default;



$gradient-menu: linear-gradient(270.38deg, #2B008E 44.38%, #1D9EA2 100%);

$font-family-titulo: 'Campuni-Bold' !default;
$font-family-textos: 'Alegreya Sans' !default;