<div class="container-footer">
    <div class="box-redeSociais">
        <h1 class="titulo">
            Siga Nossas Redes Sociais
        </h1>
    </div>
    <div class="box-icons">
        <div class=" pt-5">
            <p class="texto">
                <i class="fa-brands fa-whatsapp fa-bounce fa-2xl" style="color: #2a7063;"></i>
                Nosso WhatsApp
            </p>
        </div>
        <div class=" pt-5">
            <p class="texto">
                <i class="fa-brands fa-facebook fa-bounce fa-2xl" style="color: #3B5998;"></i>
                Nosso Facebook
            </p>
        </div>
        <div class=" pt-5">
            <p class="texto">
                <i class="fa-brands fa-instagram fa-bounce fa-2xl" style="color:#e95950;"></i>
                Nosso Instagram
            </p>
        </div>
    </div>
</div>